body {
    background-color: #2D6181;
    background-image: url(vikram.svg), linear-gradient(#084368, #4781A5);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: bottom;
    background-position-x: right;
    background-size: 50vw, 100% 100%;
}

h1 {
    font-family: -apple-system, Roboto, 'Helvetica Neue', sans-serif;
    font-size: 100pt;
    font-size: 10vw;
    font-weight: 400;
    line-height: 80%;
    width: 45vw;
    max-width: 45vw;
    color: #fff;
    margin: 5vw;
    /* border: 1px solid red; */
}